# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version 
# control as they are data points which are potentially sensitive and subject 
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.idea/

/kubernetes/terraform/software/ansible/hosts.ini
env
.ipynb_checkpoints/
_references/
exported_car-sales.csv
/aws/.terraform.lock.hcl
/aws/base_network/.terraform.lock.hcl
/aws/_learnings/vpc_connectivity/01_vpc_peering/01_same_region/bastion-key.pem
/aws/_learnings/vpc_connectivity/01_vpc_peering/01_same_region/_test/key-nvirginia-dev-terraform.pem
/aws/_learnings/vpc_connectivity/01_vpc_peering/01_same_region/_test/test_key-nvirginia-dev-terraform.pem
/aws/_learnings/vpc_connectivity/01_vpc_peering/02_different_region/.terraform.lock.hcl
/aws/_learnings/vpc_connectivity/01_vpc_peering/02_different_region/_test/test_key-nvirginia-dev-terraform.pem
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/.terraform.lock.hcl
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/terraform/.terraform.lock.hcl
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/config/AwsKmsConfig.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/controller/EncryptionController.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/dto/DecryptRequest.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/dto/DecryptResponse.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/service/DecryptionService.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/main/company_backend/CompanyBackendApplication.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/test/client_no_aws/crypto/AesEncryptor$EncryptionResult.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/test/client_no_aws/crypto/AesEncryptor.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/test/client_no_aws/crypto/RsaEncryptor.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/classes/java/test/client_no_aws/ThirdPartyClientTest.class
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/libs/client-no-aws-1.0.0.jar
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/libs/client-no-aws-1.0.0-plain.jar
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/classes/client_no_aws.ThirdPartyClientTest.html
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/css/base-style.css
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/css/style.css
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/js/report.js
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/packages/client_no_aws.html
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/reports/tests/test/index.html
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/resources/main/application.yml
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/resources/test/application-test.yml
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/resources/test/public-key.pem
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/test-results/test/binary/output.bin
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/test-results/test/binary/output.bin.idx
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/test-results/test/binary/results.bin
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/test-results/test/TEST-client_no_aws.ThirdPartyClientTest.xml
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/tmp/bootJar/MANIFEST.MF
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/tmp/compileJava/previous-compilation-data.bin
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/tmp/compileTestJava/previous-compilation-data.bin
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/tmp/jar/MANIFEST.MF
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/build/resolvedMainClassName
/aws/_learnings/_aaditya_designers_corp/01_infra_setup/modules/security/kms/_test/client_no_aws/.gradle/8.13/fileHashes/resourceHashesCache.bin
