<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- set root level to INFO (change to DEBUG if you need more) -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- optional: make sure your test package logs are visible -->
    <logger name="client_no_aws" level="INFO" />
</configuration>
